/node_modules
/public
/scaffolds
db.json
package.json
package-lock.json

!/themes
/themes/*
!/themes/next
/themes/next/*
!/themes/next/_config.yml

!/themes/next/source
/themes/next/source/*
!/themes/next/source/images






