/node_modules
/public
/scaffolds
/.deploy_git/
db.json
package.json
package-lock.json


!/themes
/themes/*
!/themes/next
/themes/next/*
!/themes/next/_config.yml
!/themes/next/layout
!/themes/next/source
/themes/next/source/*
!/themes/next/source/images
!/themes/next/source/css






